{% extends 'base.html' %}

{% load static %}
{% block title %}<title>Social Network | Timeline</title>{% endblock title %}

{% block heading %}<a class="navbar-brand" href="{% url 'timeline' %}">Social Network</a>{% endblock heading %}
{% block content %}

<div class="card mb-2">
    <div class="card-body p-3">
        <p>What's on your mind, {{ user }}? <a href="{% url 'add_post' %}">Post here</a>
            <op style="float:right">
                Make friends <a href="{% url 'find_friends' %}">here</a></op>
        </p>
    </div>
</div>


{% for post in posts %}

<div class="card mb-2">

    <div class="card-body p-3">
        <div class="row">
            <div class="col-3">
                <img src="{% static 'icons/user.png' %}" alt="{{ post.created_by }}" style="width:30px; height:30px">
                <small>Post by: {{ post.created_by }}</small>
            </div>
            <div class="col-9">
                <div class="row mb-3">
                    <div class="col-6">
                        <strong class="text-muted">{{ post.heading }}</strong>
                    </div>
                    <div class="col-6 text-right">
                        <small class="text-muted">{{ post.created_at }}</small>
                    </div>
                </div>
                {{ post.message }}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}